<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <title>FireOwl</title>
  </head>
  <body>
    <header></header>
    <main></main>
    <footer>
      <!--Good HTML-->
      <div class="subnav-content">
        <div href="#bring" class="subnav-btn">Bring</div>
        <div href="#deliver" class="subnav-btn">Deliver</div>
        <div href="#package" class="subnav-btn">Package</div>
        <div href="#express" class="subnav-btn">Express</div>
      </div>
      <button class="layermenu">Layers</button>
      <input type="checkbox" id="checkboxInput">
      <label for="checkboxInput" class="toggleSwitch"></label>
    </footer>
  </body>
</html>
