@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");

body,
html {
  margin: 0;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  height: 8vh;
  background-color: #111;
  display: flex;
  align-items: center;
}

main {
  height: 86vh;
  background-color: #d55f5f;
}

footer {
  height: 6vh;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layermenu {
  margin-left: 2.5em;
  border-radius: 100px;
  width: 8em;
  height: 4em;
  border: 0;
  background-color: hsla(240, 4%, 19%, 0.5);
  color: white;
  cursor: pointer;
  font-family: 'IBM Plex Mono', sans-serif;
  transition-duration: 0.3s;
}

.layermenu:hover {
  background-color: hsla(240, 4%, 19%, 1);
}

/* To hide the checkbox */
#checkboxInput {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
  margin-right: 2.5em;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: 0.2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid white;
}

#checkboxInput:checked + .toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: 0.2s;
  background-color: white;
}
/* Switch background change */
#checkboxInput:checked + .toggleSwitch {
  background-color: rgb(148, 118, 255);
  transition-duration: 0.2s;
}
